Repository Azure/RDS-Templates, pull requests merged in 2020-05, with the labels that each got.

#459 Create UI def updates
  wvd-templates/Create and provision WVD host pool/createUiDefinition.json
Labels: 1-Create-and-provision-host-pool

#437 Fixed the typo related to "exisiting" in the heading
  wvd-templates/Update existing WVD host pool/README.md
Labels: 2-Update-existing-WVD-host-pool

#467 Fixed wvd scaling github issues
  wvd-templates/wvd-scaling-script/basicScale.ps1
Labels: 4a-WVD-scaling-logicapps

#468 Handle new session host status `NeedsAssistance`
  wvd-templates/wvd-scaling-script/basicScale.ps1
Labels: 4a-WVD-scaling-logicapps

#487 Add pid resource and a param to control whether to deploy or not
  wvd-templates/Create and provision WVD host pool/mainTemplate.json
Labels: 1-Create-and-provision-host-pool

#489 Add back nested [linked] templates for Marketplace [Create templates only]
  wvd-templates/Create and provision WVD host pool/mainTemplate.json
Labels: 1-Create-and-provision-host-pool

#486 Add missing tooltips and remove Location parameter default value in nested templates
  wvd-templates/Create and provision WVD host pool/createUiDefinition.json
  wvd-templates/nestedtemplates/managedDisks-customimagevm.json
  wvd-templates/nestedtemplates/managedDisks-customvhdvm.json
  wvd-templates/nestedtemplates/managedDisks-galleryvm.json
  wvd-templates/nestedtemplates/unmanagedDisks-customvhdvm.json
Labels: 1-Create-and-provision-host-pool, 2-Update-existing-WVD-host-pool

#481 Aligned basic scale script with github feedback
  wvd-templates/wvd-scaling-script/basicScale.ps1
Labels: 4a-WVD-scaling-logicapps
